{% extends 'main.html' %}

{% block content %}
{% load static %}

<div class="content mt-3">
    <div class="animated fadeIn">
        {% include 'membership/members_widget.html' %}
        <div class="row"></div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header h3">
                        <div class="col col-lg-6">
                            <strong class="card-title">Members</strong>
                        </div>
                        <div class="col col-lg-4">
                            <form action="{% url 'members' %}" id="search-member" method="GET">
                                <div class="input-group">
                                    <input type="text" id="query" name="query" placeholder="" class="form-control">
                                    <div class="input-group-btn"><button class="btn btn-primary">Search</button></div>
                                </div>
                            </form>
                        </div>
                        <div class="col col-lg-2">
                            <div class="input-group-btn">
                                <button class="btn btn-primary rounded mb-1" data-toggle="modal" data-target="#addMemberModal">
                                    <i class="fa fa-users"></i> Add Member
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table-export" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Navigation</th>
                                </tr>
                            </thead>
                            <tbody id="members-content">
                                {% include 'membership/members.html' %}
                            </tbody>
                        </table>
                        {% include 'membership/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<!--Add Member Modal -->
{% include 'membership/add_member_modal.html' %}
<!--End Add Member Modal -->

<!--Add Transaction Modal -->
{% include 'membership/transaction_modal.html' %}


{% endblock %}