{% for member in members %}
    <tr>
        <td>{{member.lname|default:""}}</td>
        <td>{{member.fname|default:""}}</td>
        <td>{{member.mname|default:""}}</td>
        <td>
            <button type="button" class="btn btn-success btn-sm rounded openaddTransaction" data-id="{{ member.id }}" data-toggle="modal" data-target="#addTransaction">
                <i class="fa fa fa-plus-circle">&nbsp;Add Giving</i>
            </button>
            <a href="{% url 'profile' member.id %}" class="btn btn-primary btn-sm rounded">
                <i class="fa fa fa-book">&nbsp;Profile</i>
            </a>
        </td>
    </tr>
{% endfor %}