{% extends 'main.html' %}

{% block content %}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#firstfruit" data-toggle="tab" class="nav-link">First Fruit</a>
                    </li>
                </ul>
                <div class="tab-content py-4 px-3 bg-white" style="border: 1px solid rgba(0,0,0,.125) !important;">
                    <div class="tab-pane active" id="profile">
                        <form role="form">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">First name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="{{member.fname}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="{{member.lname}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Sex</label>
                                <div class="col-lg-9">
                                    <select name="select" id="select" class="form-control">
                                        {% if member.sex == "M" %}
                                            <option selected value="0">Male</option>
                                        {% else %}
                                            <option value="0">Male</option>
                                        {% endif %}
                                        {% if member.sex == "F" %}
                                            <option selected value="0">Female</option>
                                        {% else %}
                                            <option value="0">Female</option>
                                        {% endif %}
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Contact</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="{{member.contact}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Address</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="{{member.address}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Username</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" value="janeuser">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="password" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel">
                                    <input type="button" class="btn btn-primary" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="firstfruit">
                    </div>
                </div>
            </div>
            <div class="col-md-4 order-lg-1 text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle img-fluid mx-auto d-block" src="//placehold.it/150" alt="avatar">
                                <h5 class="text-sm-center mt-2 mb-1">{{ fullname }}</h5>
                            </div>
                            <hr>
                            <div class="text-sm-center">
                                <button type="file" class="btn btn-primary rounded">
                                    <span class="">Upload Photo</span>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

{% endblock %}