{% if givings.has_other_pages %}
    <ul class="pagination pagination-sm">
    {% if givings.has_previous and parameters %}
        <li class="page-item"><a class="page-link" href="?page={{ givings.previous_page_number }}&{{ parameters }}">&laquo;</a></li>
    {% elif givings.has_previous%}
        <li class="page-item"><a class="page-link" href="?page={{ givings.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in givings.paginator.page_range %}
        {% if givings.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            {% if parameters %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}&{{ parameters }}">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if givings.has_next and parameters %}
        <li class="page-item"><a class="page-link" href="?page={{ givings.next_page_number }}&{{ parameters }}">&raquo;</a></li>
    {% elif givings.has_next%}
        <li class="page-item"><a class="page-link" href="?page={{ givings.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="disabled page-item"><span class="page-link" >&raquo;</span></li>
    {% endif %}
    </ul>

{% endif %}