<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <button id="advanced_button" class="btn btn-sm btn-primary"><strong>Advanced Search</strong></button>
            </div>
            <div id="advanced-search-toggle">
                <form action="{% url 'transactions' %}" id="transaction-search" method="GET">
                    <div class="card-body card-block">
                        <div class="form-group col-md-2">
                            <label class=" form-control-label">Date From</label>
                            <div class="input-group">
                                <input class="form-control" type="date" id="trans-date-from" value="{{ parameters.from }}" name="from">
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class=" form-control-label">Date To</label>
                            <div class="input-group">
                                <input class="form-control" type="date" id="trans-date-to" value="{{ parameters.to }}" name="to">
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class=" form-control-label">Service</label>
                            <div class="input-group">
                                    <select id="trans-service" name="service" class="form-control">
                                        <option 
                                            {% if parameters.service == 'Worship' %}
                                                selected
                                            {% endif %} 
                                                value="Worship">Worship
                                        </option>
                                        <option 
                                            {% if parameters.service == 'Gospel' %}
                                                selected
                                            {% endif %}
                                        value="Gospel">Gospel</option>
                                        <option
                                        {% if parameters.service == 'Prayer' %}
                                            selected 
                                        {% endif %}
                                        value="Prayer">Prayer</option>
                                        <option 
                                        {% if parameters.service == 'Other' %}
                                            selected
                                        {% endif %}
                                        value="Other">Other</option>
                                        <option 
                                        {% if parameters.service == 'All' %}
                                            selected
                                        {% endif %}
                                        value="All">All</option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class=" form-control-label">Currency</label>
                            <div class="input-group">
                                    <select id="trans-currency" name="currency" class="form-control">
                                        <option {% if parameters.currency == 'PHP' %}
                                            selected
                                        {% endif %} value="PHP">PHP</option>
                                        <option {% if parameters.currency == 'USD' %}
                                            selected
                                        {% endif %} value="USD">USD</option>
                                        <option {% if parameters.currency == 'CAD' %}
                                            selected
                                        {% endif %} value="CAD">CAD</option>
                                        <option {% if parameters.currency == 'EUR' %}
                                            selected
                                        {% endif %} value="EUR">EUR</option>
                                        <option {% if parameters.currency == 'JPY' %}
                                            selected
                                        {% endif %} value="JPY">JPY</option>
                                        <option {% if parameters.currency == 'AUD' %}
                                            selected
                                        {% endif %} value="AUD">AUD</option>
                                        <option {% if parameters.currency == 'ALL' %}
                                            selected
                                        {% endif %} value="ALL">ALL</option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class=" form-control-label">Name</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input class="form-control" type="text" id="name" name="name">
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <label class=" form-control-label"></label>
                            <div class="input-group mt-1">
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
